<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div ng-view class="col-xs-10">
            <app-content></app-content>
        </div>
        <div ng-view class="col-xs-2">
            <h4>Advertisement</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed similique tempora facere odio, iusto minima dolorem magni labore consequatur vel hic distinctio officia et accusantium repellendus, eaque facilis maxime molestiae blanditiis rerum tempore sint,
                soluta. Voluptas quibusdam ab corrupti illo atque accusamus? Tenetur eveniet facilis dolorum nobis, eum distinctio quas.
            </p>
        </div>
    </div>
</div>